<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authlib Connect</title>
</head>

<body>
    <p align="center">
        <a href="google/">
            <img id="google"
                src="https://img.shields.io/badge/Google-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=google"
                alt="Google"> <br>
        </a>
        <a href="twitter/">
            <img id="twitter"
                src="https://img.shields.io/badge/Twitter-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=twitter"
                alt="Twitter"> <br>
        </a>
        <a href="facebook/">
            <img id="facebook"
                src="https://img.shields.io/badge/Facebook-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=facebook"
                alt="Facebook"> <br>
        </a>
    </p>
</body>

</html>